<div id="step1">
    <div class="container">
      <h3>Iniciativas por Diputados</h3>
      <ul class="deputy">
        <% @deputies.each do |deputy| %>
        <li>
          <strong>Diputado <%= cycle("más","menos") %> activo<br /><span><%= deputy.initiatives_count %></span> iniciativas</strong>
          <div>
          <%= image_tag deputy.political_party.logo_url.to_s, :alt => deputy.political_party_name, :class=> 'political_party', :height => '20px', :style => "position:absolute;" %>
          <img class="deputy_pic" src="<%= deputy.photo_url %>" alt="Diputado con más iniciativas" width="110" height="165" />
          </div>
          <p><%= deputy.name %></p>
        </li>
        <% end %>
      </ul>
      
      
    </div>
</div> <!-- #step1 -->
 
<div id="step2">
  <div class="container">
    <h3>Por partidos</h3>
    <ul class="team">
      <li>
        <strong><%= image_tag @best_political_party.logo_url, :alt => @best_political_party.name %></strong>
        <span><%= @best_political_party.initiatives_per_deputy %></span> Iniciativas / Diputados</li>
      <li>
        <strong><%= image_tag @worst_political_party.logo_url, :alt=> @worst_political_party.name %></strong>
        <span><%= @worst_political_party.initiatives_per_deputy %></span> Iniciativas / Diputados</li>
    </ul>
    
    <ul class="initiatives">
      <p><strong><%= @initiatives_per_deputy.to_i %></strong>Iniciativas por Diputados</p>
    </ul>
    
  </div>
</div>  <!-- #step2 -->

<div id="step3">
  <div class="container">
    <h3>Total</h3>
    <ul class="total">
      <li id="initiatives">
        <strong><span><%= @total_initiatives %></span><br /> Iniciativas presentadas</strong>
      </li>
      <p>presentadas por</p>
      <li id="deputies"> 
        <strong><span><%= @total_candidates_with_initiatives %></span><br /> Diputados</strong> 
      </li>
    </ul>
  </div>
  </div> <!-- #step3 -->
  
  <div id="step4">
    <div class="container">
    <div style="text-align:center; font-size: 30px; line-height: 40px;">
    <% @top_deputies_by_initiatives.each_with_index do |deputy,i| %>
    <p style="font-size:<%= 100-i*15 %>%; line-height: <%= 100-i %>%;"><strong><%= deputy.initiatives_count %></strong> iniciativas de <em><%= deputy.name %></em> <%= deputy.parliamentary_group_name %></p>
    <% end %>
    </div>
  </div>
  </div> <!-- #step4 -->

