<div id="weekly">
    <div class="container">
      <h3>Diputados que han aportado...</h3>
      <ul class="deputy">
        <% @deputies.each do |deputy| %>
        <li>
          <strong><span><%= deputy.initiatives_count %></span> iniciativas</strong>
          <%= image_tag deputy.political_party.logo_url.to_s, :alt => deputy.political_party_name, :class=> 'deputy_pic', :height => '20px', :style => "position:absolute;" %>
          <img class="deputy_pic" src="<%= deputy.photo_url %>" alt="Diputado con más iniciativas" width="110" height="165" />
          <p><%= deputy.name %></p>
        </li>
        <% end %>
      </ul>
    </div>
</div> <!-- #weekly -->
 
<div id="monthly">
  <div class="container">
    <ul><img src="" alt="" width="" height=""></li>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
    </ul>
  </div>
</div> <!-- #monthly -->

<div id="legislature">
  <div class="container">
    <ul class="">
      <li style="">
        <div><% @initiatives_per_candidate.times do %><%= image_tag "mini-edit.png" %> <%end%></div>
        <strong><%= @initiatives_per_candidate %> iniciativas</strong>
      </li>
      <li></li>
    </ul>
  </div>
  
  <div class="container">
    <div style="text-align:center; font-size: 30px; line-height: 40px;">
    <% @top_deputies_by_initiatives.each_with_index do |deputy,i| %>
    <p style="font-size:<%= 100-i*15 %>%; line-height: <%= 100-i %>%;"><strong><%= deputy.initiatives_count %></strong> iniciativas de <em><%= deputy.name %></em> <%= deputy.parliamentary_group_name %></p>
    <% end %>
    </div>
  </div>
</div> <!-- #legislature -->
